/*
body {
	background-color: lightgrey;
}

#battn {
	border-style: solid;
    border-width: 0px;
    display: block;
    height: 1000px;
    width: 100%;
    background-color: black;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

#battn:hover  {
	background-color: lightgrey;
}

#paintCanvas {
	background-color: white;
}
*/

body {
	display: flex;
	height: 100vh;
	width: 100vw;
	margin: 0 auto;

	overflow: hidden;
}

.main {
	flex-grow: 4;
	background-color: white;
	margin: 0 auto;
}

.canvasContainer {
	height: 28px; /*100%*/
	width: 28px;
}

.panel {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	background-color: lightgray;
	width: 25%;
}

.switch {
	display: flex;
	flex-direction: row;
}

.topBtn {
	flex-grow: 1;
	border: none;
	background-color: gray;
}

/*main panel */

.mainPanel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.elementList {
	display: flex;
	flex-direction: column-reverse;
	height: 50%;
	width: 100%;

	overflow-y: auto;
}

.elementList div {
	flex-grow: 1;
	width: 100%;
	height: 10%;
	margin: 1vh 0;

	background-color: lightgray;
	transition: all 1s;
}

.elementList div:hover {
	flex-grow: 4;
	width: 100%;
	height: 10%;
	margin: 1vh 0;

	background-color: white;
}

.optionList {
	width: 100%;
	display: flex;
}

.optionList button {
	flex-grow: 1;
	background-color: lightgray;
	border: none;
	transition: all 1s;
}

/*history panel*/

.historyPanel {
	display: none;
}

#paintCanvas {
	background-color: white;
	border: solid black 2px;
	margin: 0 20px;
	width: 28px;
	height: 28px;
}

h1 {
	padding: 0 20px;
}
